@charset "utf-8";
/* CSS Document */
#contentwrap { background: #fff url(../images/left-bg.png) repeat-y left top; }
/* Sidemenu */
#sidemenu { background-color: #222d32;
    bottom: 0;
    display: inline-block;
    float: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    z-index: 0; }
.lt-ie8 #sidemenu {position: relative;}
#sidemenu ul { list-style-type: none; }


#sidemenu ul li a:hover, #sidemenu ul li a.active { text-decoration: none; background: #222d32;
    color: #fff; border-color: #25384b; }

#sidemenu ul li ul li a:hover, #sidemenu ul li ul li a.active { text-decoration: none; background:#5d7083;
    color: #fff; border-color: #25384b; }



#sidemenu ul li a.active { 
	background: #1e282c none repeat scroll 0 0;
    border-color: #25384b #25384b #25384b #3c8dbc;
    border-left: 5px solid #3c8dbc;
    color: #fff;
    text-decoration: none;
}

#sidemenu ul li ul li a.active { text-decoration: none; background:#35495d;
    color: #fff; border-color: #25384b; }




a.btn-slide {  height: 31px;  z-index: 10; font: 26px/26px 'open_sansregular'; text-align: center; color: #ffffff; float: left; margin-left: -14px; margin-top: 10px;}

.lt-ie8 a.btn-slide { width: 31px; height: 31px; position: absolute; top: 108px; z-index: 10; }

a.btn-slide.bottom { top: auto; margin-top:-17px; }
a.btn-slide.open { }
a.btn-slide.initial {  }


/* Content */
#content { min-height: 480px; background: #f7f7f7; display:block; margin-left: 200px; padding: 0px 0px 50px;  overflow:hidden;}

@media (max-width:1024px) 
{
    a.btn-slide { top: 12px; }
    #content { min-height: 410px; background: #f7f7f7; padding: 0px 0px; }
}

@media (min-width: 481px) and (max-width: 640px) {
    a.btn-slide { top: 12px;}
}
@media (max-width: 480px) {
    a.btn-slide { top: 12px;}
}

@media (min-width: 1500px) {
  .container {
    max-width: 1470px;
  } 
}
@media (min-width: 2200px) {
  .container {
    max-width: 2170px;
  }
 
}







.nav-new, .nav-new ul, .nav-new li {
    list-style: outside none none;
}
.nav-new ul {
    background-color: #46596e;
    margin: 0;
    padding: 0;
}
.nav-new ul li ul {
    background-color: #617386;
}
.nav-new {
    margin: 0;
    padding: 0;
}
.nav-new > li {
    margin: 0;
}
.nav-new > li li {
    margin: 0;
}
.nav-new a {
    color: #333333;
    display: block;
    outline: medium none;
    position: relative;
    text-decoration: none;
	font-family: 'robotomedium';
}
.nav-new a .caret {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #000000;
    content: "";
    display: inline-block;
    float: right;
    height: 0;
    margin-left: 2px;
    margin-top: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    vertical-align: top;
    white-space: nowrap;
    width: 0;
}
.nav-new a:hover .caret {
    border-top-color: #ffffff;
}
.nav-new li.open > a > .caret {
    border-color: -moz-use-text-color rgba(0, 0, 0, 0) #000000;
    border-style: none solid solid;
    border-width: medium 4px 4px;
}
.nav-new li.open > a:hover > .caret {
    border-bottom-color: #ffffff;
}
.nav-new a:hover, .nav-new li.active > a {
    background-color: #2d3338;
    color: #f5f5f5;
}
.nav-new > li.active > a {
    background-color: #35495d;
}
.nav-new > li ul li.active > a {
    background-color: #4f6376;
}
.nav-new li a {
    border-bottom: 1px solid #222d32;
    color: #ffffff;
    display: block;
    font-size: 13px;
    line-height: 20px;
    padding: 12px 15px 12px 20px;
    white-space: normal;
}
.nav-new li ul li ul li a {
    border-bottom: 1px solid #222d32;
}
.nav-new li a img {
    left: 18px;
    max-width: none;
    position: absolute;
    width: 20px;
}
.nav-new li a i {
    left: 18px;
    max-width: none;
    position: absolute;
    width: 20px;
}
.nav-new > li > a {
    font-size: 13px;
    line-height: 20px;
    padding: 12px 25px 12px 55px;
    width: 125px;
}

@media (min-width: 768px) {
a.btn-slide { margin-left: -20px;  margin-top: 13px;}


}
@media (max-width: 768px) {
.nav-new li a img {
    left: 20px;
    margin-right: 15px;
    max-width: none;
    position: absolute;
    width: 20px;
}
.nav-new li a i {
    left: 20px;
    margin-right: 15px;
    max-width: none;
    position: absolute;
    width: 20px;
}
.nav-new > li > a {
    font-size: 13px;
    line-height: 20px;
    padding: 12px 34px 12px 55px;
    width: 110px;
}
}